# IDEs
.idea
.vs
.vscode
.PVS-Studio

# AI agents
.aider/
.claude/
.codex/
.continue/
.cursor/
.gemini/
.windsurf/

# CMake
CMakeUserPresets.json

# Build files. Must be published in Releases
/.cache
/build*
/cmake-build*
/compile_commands.json
/.clangd
